<%= render 'layouts/modal'%>
<script type="text/javascript">
  window.onunload = function(){};
</script>
<div class="row">
    <div class="col-xs-12 col-sm-5">
	  <%= render 'projects/panel'%>
    </div>
	
	<div class="col-xs-12 col-sm-7">
	  <%= render 'devices/panel'%>
	</div>
</div>