/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-radius: 0;	
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="submit"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-title {
	display:inline;
}
.btn-header {
	margin-top: -4px;
}
.battery {
	position: relative;
    display: inline-block;
    border: 3px solid;
    border-radius: 4px;
    width: auto;
    height:24px;
    margin: 10px 0px 10px 10px;
    white-space: nowrap;
	z-index: 2;
}
.battery-top {
    display: inline-block;
    border: 3px solid;
    border-radius: 4px;
    width: 3px;
    height: 8px;
    margin: 4px -8px 0px 0px;
    float: right;
}
.battery-status {
    position:absolute;
	top:0;
	left:0;
    height: 100%;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    background-color:green;
}
.project {
    float:left;
    margin: -15px;
	padding: 0px 12px 0px 0px;
    width: 100%;
    height: 100%;  
	min-height: 44px;
}
.dates {
    margin-left: 1em;	
}
#modal-status  {
	width: 64px;
	height: 64px;
    margin-top: -20px;
	margin-bottom: -20px;
	display: none;
	float: left;
	background-image: url(ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}